* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;

}

.header {
    margin: 38px 0 0 0;
}

.img>img {
    margin-left: 165px;
}

.button {
    width: 20%;
}

.button>button {
    background: #13183F;
    border-radius: 28px;
    height: 56px;
    width: 167px;
    border-radius: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    z-index: 99;
    bottom: 0;


}

.section_container {
    position: relative;
    top: 0;
    display: grid;
    grid-gap: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;



}


.secton-img {
    top: -100px;
    position: absolute;
    right: 0;
    max-width: 100%;
}

.secton-img>img {
    width: 100%;
    max-width: 100%;
}


.text_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 185px;
    margin-left: 165px;

}

.text_section>h1 {
    width: 60%;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
}

.text_section>p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    width: 55%;
    margin-top: 29px;
}

.text_section>button {
    height: 63px;
    width: 167px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    border: none;
    margin-top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}



.row_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 226px;
    row-gap: 80px;
    place-items: center;

}

.row {
    height: 322px;
    width: 350px;
    border-radius: 15px;
    position: relative;

}

.active {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 15px;

}

.active_text {
    width: 100%;
    margin: 64px auto;
    width: 70%;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: hsl(0, 29%, 88%);

}

.relative_box>img {
    position: absolute;
    left: 32px;
    top: -24px;
}

.box_row>h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
    padding: 44px 32px 0;
}

.box_row>p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    padding: 24px 32px 24px;
    width: 86%;
}

.box_row>a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFA7C3;
    padding: 24px 32px;
    text-decoration: none;
    margin-top: 25px;
}


.footrer {
    width: 100%;
    height: 120px;
    background: #13183F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
}

.logo_fotter>h1 {
    color: #FFFFFF;
}

.button_footer>button {
    height: 63px;
    width: 167px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.img_responsive {
    display: none;
}
.imag_phone {
    display: none;
}




/* media screen */
@media screen and (max-width: 1420px) {
    .button {
        width: 30%;
    }
}


@media screen and (max-width: 1170px) {
    .img>img {
        margin-left: 39px;
    }

    .text_section {
        margin: 105px 39px;
    }

    .button {
        width: 30%;
    }
}



@media screen and (max-width: 1050px) {
    .row_container {
        grid-template-columns: 1fr 1fr;
    }

    .imageresponsive {
        display: none;
    }

    .img_responsive {
        display: block;
        
        
    }
    .footrer {
        padding: 0;
    }
}


@media screen and (max-width: 755px) {
    .row_container {
        grid-template-columns:  1fr;
        
    }
    .row {
        margin: 0;
        column-gap: 40px;
    }
    .img_responsive {
        display: none;
    }
    .section_container {
        display: flex;
        width: 100%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        
    }
    .text_section {
        width: 100%;
        align-items: center;
        margin: 45px 0;
    }
    .imag_phone {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secton-img {
        position: relative;
        margin-top: 86px;
        top: 0;
        align-items: center;
        justify-content: center;
        
    }
    .img > img {
        margin: 0;
    }

    .button {
        width: 40%;
    }
    .footrer {
        padding: 0;
    }
} 



@media screen and (max-width: 412px) {
    .text_section > h1 {
        width: 100%;

        
    }
    .text_section > p {
        width: 100%;
        
    }
}